language: python
python:
 - "2.7"
 - "3.5"
 - "3.6"
 - "3.7"
 - "3.8"
 - "pypy"
 - "pypy3"
addons:
  apt:
    packages:
      - openjdk-8-jre  # install Java8 as required by vnu.jar

before_install:
 - pip install --upgrade pip

install:
 - "pip install .[tests]"
script:
  - flake8
  - nosetests -vv
